<section class="hero is-info is-medium is-bold">

  <div class="hero-body bkg">
    <div class="container has-text-centered">
      <h1 class="title">
        Ecoest
      </h1>
      <h2 class="subtitle">
        A community based Forest Monitoring and Conservation project powered by IOT and Artificial Intelligence.</h2>
      <h2 class="subtitle">
        Ensuring sustained protection of Forest ecosystems in Kenya.</h2>
    </div>
  </div>
</section>
<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-primary">New</span> Real Time Forest Monitoring using remote iot-devices, receive real time data
    on climate conditions
    across Kenya.
  </p>
</div>
<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-paw"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Reforestation Footprints </h4>
            <p>This project aims to increase visibility of community based reforestation projects to improve
              coordination efforts</p>
            <p><a href="/commnunity-projects">View projects...</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-microchip"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>Real Time Fire and Human Activity Detection.</h4>
            <p>Ut venenatis tellus in metus vulputate. Amet consectetur adipiscing elit pellentesque.
            </p>
            <p><a href="/real-time-data">See dashboard...</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class="fa fa-cloud"></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4> Real Time Forest Climatic Conditions </h4>
            <p>Imperdiet dui accumsan sit amet nulla facilisi morbi. Fusce ut placerat orci nulla pellentesque dignissim
              enim. </p>
            <p><a href="/map">See map...</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="intro column is-8 is-offset-2">
    <h2 class="title">Built for Local Communities.</h2><br>
    <p class="subtitle"> See Featured Community Based Projects</p>
  </div>
  <div class="sandbox">
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-white">
              <p class="title">Middle box</p>
              <p class="subtitle">With an image</p>
              <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

