<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css"/>
</head>
<body>
<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
<!--            <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">-->
            <h2 style="font-family: 'Apple SD Gothic Neo',sans-serif; font-size: 50px; color: white; font-weight: bolder;">Ecoest</h2>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <!--                                        <li class="is-active"><a>Home</a></li>-->
                <li><a href="">Features</a></li>
                <li><a href="">Video</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Help</a></li>
              </ul>
              <span class="navbar-item">
                                        <a class="button is-white is-outlined"
                                           href="#">
                                            <span class="icon">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <span title="Hello from the other side">Contact Us</span>
                                        </a>
                                    </span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>
</body>
</html>
